In [1]:
import sqlite3 as lite
import pandas as pd
from pandas import DataFrame
import sys
from os import system, name 

# decides if tables need to be created or not
def init(con, table):
    
    no = ["No", "NO", "no", "n", "N"]

    db_made = input("Have you created the database yet: ") # only need to create tables and load csv files once
    
    if db_made in no:

        execute_command(con, table)

        load(con)

# creates the relational tables
def execute_command(con, sql_stmt):

    #create cursor and execute sql statement inputted
    cur = con.cursor()
    cur.execute(sql_stmt)

    # save transaction
    con.commit()

# loads and reads in data from csv files
def load(con):

    # uses pandas package to read in csv files to a dataframe 
    # and then converts to SQLite tables

    # to test with different data replace the arguments within the 'pd.read_csv' methods
    path_covid = r"https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
    read_covid = pd.read_csv(path_covid)
    read_covid.to_sql('COVID', con, if_exists = "append", index = False)
    
    path_prison = r"C:\Users\andre\Desktop\PrisonData.csv"
    read_prison = pd.read_csv(path_prison)
    read_prison.to_sql('PRISON', con, if_exists = "append", index = False)
    
def query(cur, con):
    # section where SQLite queries are ran

    try:
        myStmt = "go"
        while myStmt != "quit":
            system('cls')
            myStmt = input('Enter SQL Statement: ')
            if myStmt != "quit":
                cur.execute(myStmt)
                data = cur.fetchall()
                print("The results are: ")
                for rec in data:
                    for field in rec:
                        print(field,"\t")
                    print()
                print()
                myWait = input('Press enter to continue: ')
            con.commit()
        con.close()

    except lite.Error as e:

        print("Error %s:" % e.args[0])
        #sys.exit(1)


def main():

    con = None

    # file name
    database = "projDB.db"

    # create connection to our database
    con = lite.connect(database)

    # create cursor for SQLite tasks
    cur = con.cursor()

    drop_table_covid = '''DROP TABLE IF EXISTS COVID'''
    
    execute_command(con, drop_table_covid)
    
    sql_create_covid = ''' CREATE TABLE IF NOT EXISTS COVID
                            ( 
                            [id] INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                            [date] DATE, 
                            [county] VARCHAR(30),
                            [state] VARCHAR(20),
                            [fips] INTEGER,
                            [cases] INTEGER,
                            [deaths] INTEGER
                            )'''

    init(con, sql_create_covid)
    
    
    
    drop_table_prison = '''DROP TABLE IF EXISTS PRISON'''
    
    execute_command(con, drop_table_prison)
    
    sql_create_prison = ''' CREATE TABLE IF NOT EXISTS PRISON
                            (
                             [id] INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                             [Date] DATE,
                             [Facility Type] varchar(50),
                             [State] varchar(50),
                             [Canonical Facility Name] varchar(50),
                             [Pop Tested] int,
                             [Pop Tested Positive] int,
                             [Pop Tested Negative] int,
                             [Pop Deaths] int,
                             [Pop Recovered] int,
                             [Staff Tested] int,
                             [Staff Tested Positive] int,
                             [Staff Tested Negative] int,
                             [Staff Deaths] int,
                             [Staff Recovered] int,
                             [Source] varchar(200),
                             [Compilation] varchar(100),
                             [Notes] varchar(50)
                             )'''
        
    
    init(con, sql_create_prison)

    query(cur, con)

if __name__ == "__main__":
    main()

Have you created the database yet: n

C:\Users\andre\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Have you created the database yet: n
Enter SQL Statement: select * from covid where county = 'Oglala Lakota' limit 50
The results are:
42616
2020-04-08
Oglala Lakota
South Dakota
46102
1
0

45204
2020-04-09
Oglala Lakota
South Dakota
46102
1
0

47822
2020-04-10
Oglala Lakota
South Dakota
46102
1
0

50479
2020-04-11
Oglala Lakota
South Dakota
46102
1
0

53152
2020-04-12
Oglala Lakota
South Dakota
46102
1
0

55838
2020-04-13
Oglala Lakota
South Dakota
46102
1
0

58541
2020-04-14
Oglala Lakota
South Dakota
46102
1
0

61256
2020-04-15
Oglala Lakota
South Dakota
46102
1
0

63983
2020-04-16
Oglala Lakota
South Dakota
46102
1
0

66729
2020-04-17
Oglala Lakota
South Dakota
46102
1
0

69487
2020-04-18
Oglala Lakota
South Dakota
46102
1
0

72254
2020-04-19
Oglala Lakota
South Dakota
46102
1
0

75029
2020-04-20
Oglala Lakota
South Dakota
46102
1
0

77811
2020-04-21
Oglala Lakota
South Dakota
46102
1
0

80601
2020-04-22
Oglala Lakota
South Dakota
46102
1
0

83400
2020-04-23
Oglala Lakota
South Dakota
46102
1
0

86204
2020-04-24
Oglala Lakota
South Dakota
46102
1
0

89019
2020-04-25
Oglala Lakota
South Dakota
46102
1
0

91836
2020-04-26
Oglala Lakota
South Dakota
46102
1
0

94664
2020-04-27
Oglala Lakota
South Dakota
46102
1
0

97504
2020-04-28
Oglala Lakota
South Dakota
46102
1
0

100354
2020-04-29
Oglala Lakota
South Dakota
46102
1
0

103207
2020-04-30
Oglala Lakota
South Dakota
46102
1
0

106070
2020-05-01
Oglala Lakota
South Dakota
46102
1
0

108937
2020-05-02
Oglala Lakota
South Dakota
46102
1
0

111811
2020-05-03
Oglala Lakota
South Dakota
46102
1
0

114693
2020-05-04
Oglala Lakota
South Dakota
46102
1
0

117649
2020-05-05
Oglala Lakota
South Dakota
46102
1
0

120612
2020-05-06
Oglala Lakota
South Dakota
46102
2
0

123590
2020-05-07
Oglala Lakota
South Dakota
46102
1
0

126573
2020-05-08
Oglala Lakota
South Dakota
46102
1
0

129562
2020-05-09
Oglala Lakota
South Dakota
46102
1
0

132551
2020-05-10
Oglala Lakota
South Dakota
46102
1
0

135542
2020-05-11
Oglala Lakota
South Dakota
46102
1
0

138532
2020-05-12
Oglala Lakota
South Dakota
46102
1
0

141528
2020-05-13
Oglala Lakota
South Dakota
46102
3
0

144524
2020-05-14
Oglala Lakota
South Dakota
46102
3
0

147525
2020-05-15
Oglala Lakota
South Dakota
46102
6
0

150533
2020-05-16
Oglala Lakota
South Dakota
46102
9
0

153544
2020-05-17
Oglala Lakota
South Dakota
46102
10
0

156561
2020-05-18
Oglala Lakota
South Dakota
46102
10
0

159582
2020-05-19
Oglala Lakota
South Dakota
46102
10
0

162609
2020-05-20
Oglala Lakota
South Dakota
46102
14
0

165638
2020-05-21
Oglala Lakota
South Dakota
46102
14
0

168674
2020-05-22
Oglala Lakota
South Dakota
46102
15
0

171713
2020-05-23
Oglala Lakota
South Dakota
46102
17
0

174756
2020-05-24
Oglala Lakota
South Dakota
46102
17
0

177800
2020-05-25
Oglala Lakota
South Dakota
46102
17
0

180843
2020-05-26
Oglala Lakota
South Dakota
46102
17
0

183893
2020-05-27
Oglala Lakota
South Dakota
46102
20
0


Press enter to continue:
Enter SQL Statement: quit